body {
    font-family: 'Source Code Pro', monospace;
/*    font-family: 'Teko', sans-serif;*/
}

#myTab {
    margin-top: 1em;
}
/*.nav-link {*/
    /*padding: 0.5rem 0.6rem !important;;*/
/*}*/


.spinner-parent {
    display: none;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    z-index: 100000;
}
.center-container {
    width: 60px;
    height: 60px;
    font-size: 60px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -30px 0 0 -30px;
    /*background-color: rgba(255,255,255,0.7);*/
}

.bg-white {
    background: rgba(255,255,255,0.85)!important;
}

.btn {
/*
    padding: 3.5em 2.5em;
    font-size: 2.7em;
*/
    /*padding: 1.8em 0.7em;*/
    /*font-size: 5rem;*/
    font-family: 'Orbitron', sans-serif;
    font-weight: bold;
    box-shadow: 10px 15px 15px 0 rgba(0,0,0,0.33), 0 6px 8px 0 rgba(0,0,0,0.19);
}


.scenariosButtons {
    padding: 0.5em 2.5em;
    font-size: 1.5em;
    font-family: 'Orbitron', sans-serif;
    font-weight: bold;
    box-shadow: 10px 15px 15px 0 rgba(0,0,0,0.33), 0 6px 8px 0 rgba(0,0,0,0.19);
}

.scenariosButtons:active, .scenariosButtons:hover {
    /*filter: invert(100%);*/
    background-color: #666;
    color: #fff;
}


.rgbBrightness, .whiteBrightness {
    padding: 1em 0.5em;
    font-size: 0.9rem;
    margin-bottom: 35px;
}

/*#kitchenleft, #kitchenright, */
#diningBtn {
    font-size: 1.5rem;
    padding: 0.5em 0.7em !important;
    margin-bottom: 50px;
}

.col {
    padding-top: 25px;
}

/*
#turnOnBtn {
    font-size: 3em;
}
*/
.row {
    padding-top: 10px;
}


#subtitle {
    color: #fff;
    font-size: 1em
}

.navbar-brand {
    font-size: 1.6em;
    font-weight: bold;
}

#btnToggle {
    margin-bottom: 50px;
}

.pickr .pcr-button {
    height: 5em !important;
    width: 5em !important;
    box-shadow: 10px 15px 15px 0 rgba(0,0,0,0.33), 0 6px 8px 0 rgba(0,0,0,0.19);
}


.material_block
{
  width: 580px;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0,0,0,.4);
  margin: auto;
}

.spinner
{
  -webkit-animation: rotation 1.35s linear infinite;
  animation: rotation 1.35s linear infinite;
}

#home {
    padding-top: 1em;
}
